.container {
  border-radius: 15px;
  border: 1px solid $dark-orange;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
  width: 300px;

  &--title {
    cursor: default;
    margin-top: 40px;
    text-align: center;
  }

  &--lengths {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: default;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 30px auto;
    width: 80vw;

    &--spaces {
      border: none;
      height: 130px;
      margin: 5px;

      &-title {
        font-size: 20px;
        margin: 10px;
      }

      &-digits {
        font-size: 20px;
        margin-left: 5px;
        margin-right: 5px;
      }

      &-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
    }
  }

  &--timer {
    cursor: default;
    padding: 10;
    width: 250px;

    &-title {
      font-size: 30px;
      margin: 10px;
    }

    &-time {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      font-size: 40px;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      &-panel {
        margin: 10px;
      }
    }

    &-btns {
      margin: 10px;
    }
  }

  &--btns {
    background: none;
    border: none;
    color: $light-orange;
    cursor: pointer;
    font-size: 25px;
    outline: none;

    &-lengths:disabled {
      color: $dark-orange;
      pointer-events: none;
    }

    &-icons {
      -webkit-transition: -webkit-transform 0.3s ease-out;
      transition: -webkit-transform 0.3s ease-out;
      -o-transition: transform 0.3s ease-out;
      transition: transform 0.3s ease-out;
      transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;

      &:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    &--title {
      margin-top: 50px;
    }

    &--lengths--spaces {
      &-title {
        font-size: 25px;
        margin: 10px;
      }

      &-digits {
        font-size: 25px;
        margin-left: 5px;
        margin-right: 5px;
      }
    }

    &--timer {
      width: 300px;

      &-title {
        font-size: 32px;
      }
    }
  }
}
