.container {
  border: 1px solid $black;
  border-radius: 15px;
  width: 300px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;

  &--title {
    text-align: center;
  }

  &--lengths {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 30px auto;

    &--spaces {
      margin: 5px;
      height: 130px;

      &-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
    }
  }

  &--timer {
    width: 300px;

    &-time {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-size: 40px;

      &-panel {
        margin-top: 0;
      }
    }
  }

  &--btns {
    background: none;
    border: none;
    outline: none;

    &-lengths:disabled {
      color: $black;
    }

    &-icons {
      transition: transform 0.3s ease-out;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
